<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="listeners.Listeners"></listener>
    </listeners>

    <test parallel="true" thread-count="2" name="SeleniumFramework">
        <classes>
            <class name="com.tests.HomePageTest"> </class>
        </classes>
    </test>
</suite>